<!DOCTYPE html>
<html>
  <head>
    <title>侨中考试</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= yield :css -%>
  </head>
  <body>
    <p align="right">
    	<% if current_student %>
    	<%= current_student %> 同学, 你好 | 
    	<%= link_to '注销', '/logout', method: 'delete' %>
    	<% end %>
    </p>
    <%= yield %>
  </body>
</html>
